<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Name</key>
        <string>DemoApp</string>
        <key>Version</key>
        <string>1.0.0</string>
        <key>Enabled</key>
        <true/>
        <key>Settings</key>
        <dict>
            <key>Theme</key>
            <string>Dark</string>
            <key>AutoUpdate</key>
            <false/>
        </dict>
        <key>SupportedDevices</key>
        <array>
            <string>iPhone</string>
            <string>iPad</string>
            <string>Mac</string>
        </array>
    </dict>
</plist>
