name: Deploy static content to Pages

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: macos-latest

    env:
      MACOSX_DEPLOYMENT_TARGET: 11
      SCCACHE_GHA_ENABLED: "true"
      SCCACHE_CACHE_SIZE: 2G
      RUSTC_WRAPPER: "sccache"

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - uses: Swatinem/rust-cache@v2
      - uses: mozilla-actions/sccache-action@v0.0.9
      - run: sccache --show-stats || true
      - uses: actions/configure-pages@v5

      - name: Copy docs to /docs folder
        run: |
          # Build
          cargo doc --no-default-features --no-deps --package defaults-rs

          # Move
          rm -rf docs
          mkdir -p docs
          cp -r target/doc/* docs/

          # Redirect root index to crate doc
          echo '<meta http-equiv="refresh" content="0; url=defaults_rs/index.html">' > docs/index.html

      - uses: actions/upload-pages-artifact@v3
        with:
          path: "docs"

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
