name: Release Builds

on:
  workflow_dispatch:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-arm64:
    runs-on: macos-latest

    env:
      MACOSX_DEPLOYMENT_TARGET: 11
      FILE_NAME: drs-aarch64-apple-darwin.zip
      SCCACHE_GHA_ENABLED: "true"
      SCCACHE_CACHE_SIZE: 2G
      RUSTC_WRAPPER: "sccache"

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: sccache stats
        run: sccache --show-stats || true

      - name: Cache Cargo registry and build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Build release artifact
        run: cargo build --release --verbose --locked --features cli

      - name: Package release
        run: |
          mkdir -p release/bin release/man/man1
          cp target/release/drs release/bin/
          cp man/man1/drs.1 release/man/man1/
          cp LICENSE release/
          cp README.md release/
          cd release && zip -r ../${{ env.FILE_NAME }} bin man README.md LICENSE && cd ..

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: drs-darwin-arm64
          path: ${{ env.FILE_NAME }}
          retention-days: 90

      - name: Upload binary to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.FILE_NAME }}
          tag: ${{ github.ref }}
          overwrite: true

  publish:
    needs: [build-arm64]
    runs-on: macos-latest

    env:
      CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Prepare Crates.io README
        run: sed -i '' '/^>/d' README.md

      - name: Publish to crates.io
        env:
          CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}
        run: cargo publish --token $CRATES_TOKEN --allow-dirty
